#section-search{
    height: calc(100vh - 90px);
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow: scroll;
}

/* generi */
#genres{
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;
    font-weight: bolder;
    cursor: pointer;
}

#genres span{
    margin: 30px;
}
#section-search div > h2{
    margin-top: 100px;
}

#genres div{
width: 23%;
height: 180px;
border-radius: 20px;
margin: 10px 10px;
}

#genres-pop{
    background-color: violet;
}

#genres-rock{
    background-color: red;
}
#genres-hip-hop{
    background-color: orange;
}
#genres-indie{
    background-color: greenyellow;
}
.img-rotated{
    position: relative;
}
#genres img{
    position: absolute;
    bottom: 12px;
    right: 12px;
    object-fit: cover;
    transform: rotate(20deg);
}

/* Browse all */

#browse{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
}

#browse span{
    margin: 20px;
}


#browse div{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    margin: 20px;
 }

#podcasts{
    background-color: aqua;
}

#Made-for-you{
    background-color: blueviolet;
}

#Charts{
    background-color: plum;
}

#New-releases{
    background-color: greenyellow;
}
#browse img{
    position: absolute;
    bottom: 12px;
    right: 12px;
    object-fit: cover;
    transform: rotate(20deg);
}
@media screen and (max-width: 900px){
    #genres div{
        width: 150px ;
    }
}
@media screen and (max-width: 560px){

    #section-search{
        width: calc(100vw - 50px);
    }
}
